<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxiaocode.boardgame.product.domain.ProductMapper">
    <resultMap id="ProductDetailsVO" type="com.lxiaocode.boardgame.product.domain.vo.ProductDetailsVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="rate" property="rate"/>
        <result column="description" property="description"/>
        <result column="cover" property="cover"/>
        <result column="detail" property="detail"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="stockpile" javaType="com.lxiaocode.boardgame.product.domain.vo.StockpileVO">
            <result column="amount" property="amount"/>
            <result column="frozen" property="frozen"/>
        </association>
        <collection property="parameters" ofType="com.lxiaocode.boardgame.product.domain.vo.ParameterVO">
            <result column="item" property="item"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>

    <select id="listProductDetails" resultMap="ProductDetailsVO">
        SELECT
            p.* ,ps.amount ,ps.frozen ,pp.item ,pp.value
        FROM
            (SELECT * FROM product where deleted = 0 LIMIT #{start},#{size}) p
        LEFT JOIN
            product_stockpile ps
        on
            p.id= ps.product_id
        LEFT JOIN
            product_parameter pp
        on
            p.id = pp.product_id ;
    </select>


</mapper>