<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxiaocode.boardgame.product.domain.StockpileMapper">

    <resultMap id="StockpileVO" type="com.lxiaocode.boardgame.product.domain.vo.StockpileVO">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="product_title" property="productTitle"/>
        <result column="amount" property="amount"/>
        <result column="frozen" property="frozen"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="pageStockpileVO" resultMap="StockpileVO">
        SELECT
            id, product_id, product_title, amount, frozen, create_time
        FROM
            product_stockpile
        WHERE
            deleted = 0
        ORDER BY create_time
    </select>

    <select id="getStockpileVO" resultMap="StockpileVO">
        SELECT
            id, product_id, product_title, amount, frozen, create_time
        FROM
            product_stockpile
        WHERE
            id = #{id} AND deleted = 0
    </select>

</mapper>